<p-button (click)="showDialog()" label="Cоздать карту авто" />
<p-dialog header="Карта автомобиля" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <form [formGroup]="SendCarForm">
    <span class="p-text-secondary block mb-8">Запишите необходимую информацию в полях.</span>
    <div class="card flex justify-content-center">
        <p-dropdown 
          [options]="loadValues.brands"
          formControlName="brand_id"
          optionLabel="name"
          placeholder="Выберите марку">
        </p-dropdown>
      </div>
    <div class="flex items-center gap-4 mb-8">
        <label class="font-semibold w-24">Модель</label>
        <input pInputText class="flex-auto" formControlName = "model" autocomplete="off" />
    </div>
    <div class="card flex justify-content-center mb-8">
      <p-dropdown 
      [options]="years"
      formControlName="year"
      optionLabel="name"
      placeholder="Выберите год">
      </p-dropdown>
    </div>
    <div class="card flex justify-content-center">
        <p-dropdown 
          [options]="loadValues.volumes"
          formControlName="engine_volume"  
          optionLabel="name" 
          placeholder="Выберите объем">
        </p-dropdown>
      </div>
      <div class="card flex justify-content-center">
        <p-dropdown 
          [options]="loadValues.gears"  
          formControlName="transmission_type_id"
          optionLabel="name"
          placeholder="Выберите трансмиссию">
        </p-dropdown>
      </div>
    <div class="flex items-center gap-4 mb-8">
        <label class="font-semibold w-24">Вин код</label>
        <input pInputText class="flex-auto" formControlName = "vin_code" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="отмена" severity="secondary" (click)="visible = false"/>
        <p-button label="создать" (click)="visible = false" (click) = "SendCar()" />
    </div>
  </form>
</p-dialog>
