<form [formGroup]="SignInForm" novalidate (keydown)="handleKeyDown($event)">
    <h1>Вход</h1>
    <div class="inputGroup">
      <p-floatLabel>
        <input pInputText id="UserLogin" formControlName="UserLogin"/>
        <label for="UserLogin">логин</label>
      </p-floatLabel>
      <br>
      <p-floatLabel>
        <input 
        pInputText id="UserPassword" 
        formControlName="UserPassword"
        />
        <label for="UserPassword">Пароль</label>
      </p-floatLabel>
      <br>
      <button
        (click)="onSignIn()">
        войти
      </button>
    </div>
</form>